@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Raleway:wght@600&display=swap');

/*voir le tutoriel sur adobe font pour integrer leurs typo dans un site web*/

body{
  font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alfa Slab One', cursive;

}

nav {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}

h1 {
  font-size: 4em;
  font-weight: bolder;

}

header h1 {
  font-size: 1em;
}

p {
  font-family: "helvetica", sans-serif;
  font-weight: lighter;
  line-height: 1.5em;
  text-align: justify;
  max-width: 800px;

}

#soustitre {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
